<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="referrer" content="always">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport"
          content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no">
    <link rel="shortcut icon" href="https://gss0.bdstatic.com/5bd1bjqh_Q23odCf/static/wiseindex/img/favicon64.ico"
          type="image/x-icon">
    <link rel="apple-touch-icon-precomposed"
          href="https://gss0.bdstatic.com/5bd1bjqh_Q23odCf/static/wiseindex/img/screen_icon_new.png">
    <title>新款 iPhone 三机现场上手：苹果真的没打算做廉价机</title>
    <link rel="stylesheet"
          href="https://ss0.bdstatic.com/5aV1bjqh_Q23odCf/static/superlanding/css/land_min_pack_d8ea552.css">
    <meta itemprop="dateUpdate" content="2018-09-13 10:42:24">
    <script type="text/javascript" src="http://res.wx.qq.com/open/js/jweixin-1.4.0.js"></script>
</head>
<body style="">
<div id="BAIDU_DUP_fp_wrapper"
     style="position: absolute; left: -1px; bottom: -1px; z-index: 0; width: 0px; height: 0px; overflow: hidden; visibility: hidden; display: none;">
    <iframe id="BAIDU_DUP_fp_iframe" src="https://pos.baidu.com/wh/o.htm?ltr="
            style="width: 0px; height: 0px; visibility: hidden; display: none;"></iframe>
</div>
<script type="text/javascript" async=""
        src="https://pos.baidu.com/ccmm?di=u2913176&amp;dri=0&amp;dis=0&amp;dai=1&amp;ps=1112x1082&amp;enu=encoding&amp;dcb=___adblockplus&amp;dtm=SSP_JSONP&amp;dvi=0.0&amp;dci=-1&amp;dpt=none&amp;tsr=0&amp;tpr=1536821276916&amp;ti=%E6%96%B0%E6%AC%BE%20iPhone%20%E4%B8%89%E6%9C%BA%E7%8E%B0%E5%9C%BA%E4%B8%8A%E6%89%8B%EF%BC%9A%E8%8B%B9%E6%9E%9C%E7%9C%9F%E7%9A%84%E6%B2%A1%E6%89%93%E7%AE%97%E5%81%9A%E5%BB%89%E4%BB%B7%E6%9C%BA&amp;ari=2&amp;dbv=2&amp;drs=3&amp;pcs=1903x968&amp;pss=1903x9968&amp;cfv=0&amp;cpl=3&amp;chi=1&amp;cce=true&amp;cec=UTF-8&amp;tlm=1536821276&amp;prot=2&amp;rw=968&amp;ltu=https%3A%2F%2Fmbd.baidu.com%2Fnewspage%2Fdata%2Flandingsuper%3Fcontext%3D%257B%2522nid%2522%253A%2522news_8928154014962809739%2522%257D%26n_type%3D0%26p_from%3D1&amp;ltr=https%3A%2F%2Fwww.baidu.com%2F&amp;ecd=1&amp;lcdi=6eb7d85a5eb93085&amp;uc=1920x1040&amp;pis=-1x-1&amp;sr=1920x1080&amp;tcn=1536821277"></script>
<script>/* eslint-disable */
var s_domain = {
    "protocol": "https:",
    "staticUrl": "https://ss0.bdstatic.com/5aV1bjqh_Q23odCf/",
    "base": "",
    "baseuri": "",
    "passconf": "http://passport.baidu.com/ubrwsbas",
    "logout": "https://passport.baidu.com/?logout&u=",
    "bs": "https://www.baidu.com",
    "sp": "http://hi.baidu.com/",
    "ssllist": {
        "a.hiphotos.baidu.com": "ss0.baidu.com/94o3dSag_xI4khGko9WTAnF6hhy",
        "b.hiphotos.baidu.com": "ss1.baidu.com/9vo3dSag_xI4khGko9WTAnF6hhy",
        "c.hiphotos.baidu.com": "ss3.baidu.com/9fo3dSag_xI4khGko9WTAnF6hhy",
        "d.hiphotos.baidu.com": "ss0.baidu.com/-Po3dSag_xI4khGko9WTAnF6hhy",
        "e.hiphotos.baidu.com": "ss1.baidu.com/-4o3dSag_xI4khGko9WTAnF6hhy",
        "f.hiphotos.baidu.com": "ss2.baidu.com/-vo3dSag_xI4khGko9WTAnF6hhy",
        "g.hiphotos.baidu.com": "ss3.baidu.com/-fo3dSag_xI4khGko9WTAnF6hhy",
        "h.hiphotos.baidu.com": "ss0.baidu.com/7Po3dSag_xI4khGko9WTAnF6hhy",
        "1.su.bdimg.com": "ss0.bdstatic.com/k4oZeXSm1A5BphGlnYG",
        "t10.baidu.com": "ss0.baidu.com/6ONWsjip0QIZ8tyhnq",
        "t11.baidu.com": "ss1.baidu.com/6ONXsjip0QIZ8tyhnq",
        "t12.baidu.com": "ss2.baidu.com/6ONYsjip0QIZ8tyhnq",
        "himg.bdimg.com": "ss1.bdstatic.com/7Ls0a8Sm1A5BphGlnYG",
        "cdn00.baidu-img.cn": "ss0.bdstatic.com/9bA1vGba2gU2pMbfm9GUKT-w",
        "cdn01.baidu-img.cn": "ss0.bdstatic.com/9bA1vGfa2gU2pMbfm9GUKT-w"
    }
};
var s_session = {
    "ssid": "a8007548",
    "logid": "",
    "sid": "1444_21116_26350_22160",
    "nid": "8928154014962809739",
    "qid": ""
};
var s_advert = {
    "isBjh": "1",
    "contentUrl": "http://baijiahao.baidu.com/s?id=1611453235560622028",
    "contentPlatformId": "3",
    "contentType": "1",
    "pvid": "b4fbc68d6ba9c122",
    "time": "2018-09-13 13:27:26",
    "contentAccType": "1",
    "ctk": "6eb7d85a5eb93085",
    "contentAccId": "pWfgGJWTfbeS6RYlB",
    "ctk_b": "7c0d7c88cf1bd37c",
    "logid": "1646208114",
    "dtime": "1536816446",
    "grade": "2",
    "createTimeAccLevel": "3"
};</script>
<script>/* eslint-disable */
var bds = {
    se: {},
    su: {
        urdata: [], urSendClick: function () {
        }, urStatic: "https://ss.bdimg.com"
    },
    util: {},
    use: {},
    comm: {
        domain: "",
        ubsurl: "",
        tn: "",
        queryEnc: "",
        queryId: "",
        inter: "",
        sugHost: "",
        query: "",
        qid: "",
        cid: "",
        sid: "",
        stoken: "",
        serverTime: "",
        user: "",
        username: "",
        loginAction: [],
        useFavo: "",
        pinyin: "",
        favoOn: "",
        curResultNum: "0",
        rightResultExist: false,
        protectNum: 0,
        zxlNum: 0,
        pageNum: 1,
        pageSize: 10,
        ishome: 1,
        newindex: 1
    }
};
var name, navigate, al_arr = [];
var selfOpen = window.open;
eval("var open = selfOpen;");
var isIE = navigator.userAgent.indexOf("MSIE") != -1 && !window.opera;
var E = bds.ecom = {};
bds.se.mon = {
    loadedItems: [], load: function () {
    }, srvt: -1
};
try {
    bds.se.mon.srvt = parseInt(document.cookie.match(new RegExp("(^| )BDSVRTM=([^;]*)(;|$)"))[2]);
    document.cookie = "BDSVRTM=;expires=Sat, 01 Jan 2000 00:00:00 GMT"
} catch (e) {
}
var bdUser = bds.comm.user ? bds.comm.user : null, bdQuery = bds.comm.query, bdUseFavo = bds.comm.useFavo,
    bdFavoOn = bds.comm.favoOn, bdCid = bds.comm.cid, bdSid = bds.comm.sid, bdServerTime = bds.comm.serverTime,
    bdQid = bds.comm.queryId, bdstoken = bds.comm.stoken, login_success = [];</script>
<div id="detail-page">
    <div class="line-shadow"></div>

    
</div>

<div style="text-align: center;width: 100%;height:5.5rem;background-color: red;line-height: 5.5rem" class="qr_btn">扫一扫</div>

<script type="text/javascript">window.onload = function () {
    var contentContainer = document.getElementById('content-container');
    var bottomContainer = document.getElementById('bottom-container');
    var rightContainer = document.getElementById('right-container');
    var minContentHeight = window.innerHeight - bottomContainer.offsetHeight;
    if (contentContainer.offsetHeight < minContentHeight) {
        contentContainer.style.height = minContentHeight + 'px';
        bottomContainer.className += ' fixed';
    }
    if (rightContainer.children.length === 0) {
        rightContainer.style.width = parseInt(rightContainer.offsetWidth + 1, 10) + 'px';
    }
};</script>
<script type="text/javascript"
        src="https://ss0.bdstatic.com/5aV1bjqh_Q23odCf/static/superlanding/js/lib/jquery_0affbc1.js"></script>
<script type="text/javascript"
        src="https://ss0.bdstatic.com/5aV1bjqh_Q23odCf/static/superlanding/js/land_min_pack_a8e416f.js"></script>
<script type="text/javascript"
        src="https://ss0.bdstatic.com/5aV1bjqh_Q23odCf/static/superlanding/js/article/index_648df39.js"></script>
<script src="https://cpro.baidustatic.com/cpro/ui/c.js?v=201881314"></script>
</body>

<script>
    wx.config({
        debug: true,
        appId: "{$appId}",
        timestamp: "{$timestamp}",
        nonceStr: "{$nonceStr}",
        signature: "{$signature}",
        jsApiList: ['scanQRCode']
    });

    wx.ready(function(){
        // config信息验证后会执行ready方法，所有接口调用都必须在config接口获得结果之后，config是一个客户端的异步操作，所以如果需要在页面加载时就调用相关接口，则须把相关接口放在ready函数中调用来确保正确执行。对于用户触发时才调用的接口，则可以直接调用，不需要放在ready函数中。
    });

    $(".qr_btn").on('click', function() {
        wx.scanQRCode({
            needResult: 0, // 默认为0，扫描结果由微信处理，1则直接返回扫描结果，
            scanType: ["qrCode","barCode"], // 可以指定扫二维码还是一维码，默认二者都有
            success: function (res) {
                var result = res.resultStr; // 当needResult 为 1 时，扫码返回的结果

            }
        });
    });


</script>


</html>